body{
  background-color: white;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

button{
  color: white;
  background-color: #E5B6D5;
  border-left: 10px #CC7FB5 solid;
  border-right: 10px #CC7FB5 solid;
  border-top: 10px #B2479A solid;
  border-bottom: 10px #B2479A solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  margin: 30px;
  height: 100px;
  width: 250px;
}

button:hover{
  background-color: #B2479A;
  border-left: 10px #E5B6D5 solid;
  border-right: 10px #E5B6D5 solid;
  border-top: 10px #CC7FB5 solid;
  border-bottom: 10px #CC7FB5 solid;
}

button:focus{
  outline: none;
}

@media screen and (max-width: 550px) {
  main{
    display: block;
  }
  button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #random-button{
    margin-top: 175px;
  }
  #reset-button{
    margin-top: 40px;
    height: 65px;
  }
}
