body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

main{
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

button{
  color: white;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 100px;
  background-color: #EFB6D5;
  border-left: 15px #CC7FB5 solid;
  border-right: 15px #CC7FB5 solid;
  border-top: 15px #B2479A solid;
  border-bottom: 15px #B2479A solid;

}
